<main>
  <h1>Angular PWA test application</h1>
  <button (click)="subscribeForNotifications()">Subscribe</button>

  <h2>Keys:</h2>
  <div class="field">
    Endpoint:
    <input [(ngModel)]="info.endpoint" />
  </div>
  <div class="field">
    P256DH:
    <input [(ngModel)]="info.keys.p256dh" />
  </div>
  <div class="field">
    Auth:
    <input [(ngModel)]="info.keys.auth" />
  </div>
  <div>
    <button (click)="copySubscriptionKeys()">Copy</button>
  </div>
</main>

<textarea #copyArea hidden></textarea>
